
.icon-cancel-circled:before { content: '\e800'; } /* '' */
.icon-cancel-circled2:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */